pipeline/IfPipeline.json
{
	"name": "IfPipeline",
	"properties": {
		"activities": [
			{
				"name": "ReadDataBlob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachPerson",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadDataBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadDataBlob').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If City",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().city, 'London')\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "OtherCity",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dataflow_false",
												"type": "DataFlowReference"
											},
											"integrationRuntime": {
												"referenceName": "integrationRuntime1",
												"type": "IntegrationRuntimeReference"
											},
											"traceLevel": "Fine"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "LondonCity",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dataflow1",
												"type": "DataFlowReference"
											},
											"integrationRuntime": {
												"referenceName": "integrationRuntime1",
												"type": "IntegrationRuntimeReference"
											},
											"traceLevel": "Fine"
										}
									},
									{
										"name": "Data flow1_copy1",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dataflow1",
												"type": "DataFlowReference"
											},
											"integrationRuntime": {
												"referenceName": "integrationRuntime1",
												"type": "IntegrationRuntimeReference"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-05-27T06:13:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}