pipeline/SwitchAndForEach.json
{
	"name": "SwitchAndForEach",
	"properties": {
		"activities": [
			{
				"name": "ReadDataFromBlob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "inputdata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmployee",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadDataFromBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadDataFromBlob').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().role",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Case1",
										"activities": [
											{
												"name": "Developer",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "Copy_Developer",
														"type": "DataFlowReference"
													},
													"integrationRuntime": {
														"referenceName": "integrationRuntime1",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "Case2",
										"activities": [
											{
												"name": "Developer_No",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "Copy_Developer_No",
														"type": "DataFlowReference"
													},
													"integrationRuntime": {
														"referenceName": "integrationRuntime1",
														"type": "IntegrationRuntimeReference"
													},
													"traceLevel": "Fine"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Manager",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "Copy_Manager",
												"type": "DataFlowReference"
											},
											"integrationRuntime": {
												"referenceName": "integrationRuntime1",
												"type": "IntegrationRuntimeReference"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-05-26T15:25:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}